.navbar {
    position: sticky;
    top: 4rem;
    z-index: 999;
    height: calc(100vh - 4rem);
    background-color: #f7f7f7;
    border-right: 1px solid #ececec;
    nav {
        padding-top: .5rem !important;
        height: 100%!important;
        overflow: auto;
        margin-right: -40px;
        padding-right: calc(40px + 1rem);
        .nav-link {
            text-decoration: none;
            color: #333;
            transition: color .2s ease-out;
        }
    }
}
